.item.left, .item.right, .item.center {
  display: block !important;
  text-align: center !important;
  margin: 0 auto !important;
}

.item .title, .item .quote, .item .description, .item .additional-links {
  width: 100% !important;
  text-align: center !important;
  margin: 0 auto !important;
  display: block !important;
}
