<div class="row clearfix layout layout-center" style="text-align: center; margin: 40px 0;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-print-12">
    {%- if include.item.title -%}
      <h3 style="margin-bottom: 5px;">
        {% if include.item.link %}
          <a href="{{ include.item.link }}" target="_blank" style="text-decoration:none; color:#007acc;">
            {{ include.item.title }}
          </a>
        {% else %}
          {{ include.item.title }}
        {% endif %}
      </h3>
    {%- endif -%}

    {%- if include.item.link_text -%}
      <p style="margin-top: -10px;">
        <a href="{{ include.item.link }}" target="_blank" style="color:#007acc;">
          {{ include.item.link_text }}
        </a>
      </p>
    {%- endif -%}

    {%- if include.item.quote -%}
      <p class="quote" style="font-style: italic; margin-top: 10px;">{{ include.item.quote }}</p>
    {%- endif -%}

    {%- if include.item.description -%}
      <div style="max-width: 700px; margin: 10px auto; text-align: center;">
        {{ include.item.description | strip | markdownify }}
      </div>
    {%- endif -%}

    {%- if include.item.github -%}
      <p class="no-print">
        <a href="https://github.com/{{ include.item.github }}" target="_blank">
          <i class="fa fa-github" title="{{ include.item.title }} Github link"></i>
        </a>
      </p>
    {%- endif -%}
  </div>
</div>
