<div class="layout layout-center" style="text-align: center; margin: 40px 0;">
  <h3 style="margin-bottom: 5px;">
    {% if include.item.link %}
      <a href="{{ include.item.link }}" target="_blank" style="text-decoration:none; color:#007acc;">
        {{ include.item.title }}
      </a>
    {% else %}
      {{ include.item.title }}
    {% endif %}
  </h3>

  {% if include.item.link_text %}
    <p style="margin-top:-10px;">
      <a href="{{ include.item.link }}" target="_blank" style="color:#007acc;">
        {{ include.item.link_text }}
      </a>
    </p>
  {% endif %}

  {% if include.item.additional_links %}
    <p class="no-print">
      {% for link in include.item.additional_links %}
        <a href="{{ link.url }}" target="_blank" style="margin: 0 5px;">
          <i class="{{ link.icon }}" title="{{ link.title }}"></i>
        </a>
      {% endfor %}
    </p>
  {% endif %}

  {% if include.item.quote %}
    <p class="quote" style="font-style: italic; margin-top: 10px;">{{ include.item.quote }}</p>
  {% endif %}

  {% if include.item.description %}
    <div style="max-width: 700px; margin: 10px auto; text-align: center;">
      {{ include.item.description | strip | markdownify }}
    </div>
  {% endif %}
</div>
